*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.cabeza{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;
}
.banner{
	display:flex;
	align-self: center;
	justify-content: center;
	z-index:2;
}
.ba{
	width:80%;
}
nav{
	display:flex;
	flex-direction: row;
	gap: 0.2rem;
	z-index:1;
	align-self: flex-end;
}
.nvgtr{
	display: flex;
	background-color:blue;
	color:white;
	border-color:black;
	border-style:solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:4px;
	padding-left:4px;
	border-width:2px;
	box-shadow:2px 2px grey;
}
.Snvgtr{
	display:flex;
	background-color:green;
	color:white;
	border-color:black;
	border-style:solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:4px;
	padding-left:4px;
	border-width:2px;
}
h1{
	font-size: 6vh;
	justify-self: center;
}
.tt{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
h2{
	display:flex;
	justify-content: center;
	align-self: center;
	border-style:solid;
	background-color:white;
	width: 80%;
	z-index:1;
}
.guts{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
section{
	display:flex;
	gap:1rem;
}
.divi{
	display: flex;
	flex-direction: column;
}
.divi img{
	width:15vw;
}
.divt{
	width:80vw;
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap:0.5vh;
}
.detail{text-align: center;}
table{
	border-spacing: 0.5rem;
}
tr{
	text-align: left;
}
.date{
	text-align: center;
}
ol > li{
	list-style-type:decimal;
}
li{
	list-style-position: inside;
}
.abc > li{
	list-style-type:lower-alpha;
}
ul{
	margin-left: 2rem;
}
ul > li{
	list-style-type: circle;
}
.maps{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap:1rem;
}
.map{
	display: flex;
	flex-direction: column;
	justify-content: center;
}