*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.banner{
	display:block;
	margin:auto;
	width:90%;
	z-index:2;
}
nav{
    position:relative;
    left:1055px;
    top:10px;
	z-index:1;
}
.nvgtr{	
	display:inline-block;
	background-color:blue;
	color:white;
	border-color:black;
	border-style:solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:4px;
	padding-left:4px;
	border-width:2px;
	box-shadow:2px 2px grey;
}
.Snvgtr{
	display:inline-block;
	background-color:green;
	color:white;
	border-color:black;
	border-style:solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:4px;
	padding-left:4px;
	border-width:2px;
}
h1{
	display:block;
	font-size:60px;
	position:relative;
	left:70px;
	top:25px;
}
h2{
	display:block;
	border-style:solid;
	background-color:white;
	text-align: center;
	margin:auto;
	width:90%;
	position:relative;
	bottom:34px;
	z-index:1;
}
.logo{
	display:block;
	width:170px;
}
section{
	display:block;
	margin:auto;
	width:80%;
	position:relative;
	bottom:150px;
	left:100px;
}
.extra{
	display:block;
	margin:auto;
	position:relative;
	width:20%;
	bottom:100px;
	right:300px;
}
